{% extends "blog/main.html" %}
{% load static %}

{% block "titre" %}Enregistrement Droit {% endblock %}

{% block "icon" %}
    <link type="images/png" rel="shortcut icon" href="{% static 'images/save.png' %}">
{% endblock %}

{% block 'filtre' %}
    <form method="GET">
        {{filtre.form}}
        <input type="submit" value="Filtrer">
    </form>
    <br>
    <br>
{% endblock %}

{% block "table" %}
    <tr>
        <th style="text-align: left;">ID_Nom_Prénoms</th>
        <th>Droit d'adhension</th>
        <th >Droit annuel</th>
        <th>Droit de Réception</th>
    </tr>
    {% for res in resultat2 %}
    <tr>
        <td style="text-align: left;">{{res.id_membres}}</td>
        <td>{{res.droit_adhension}}</td>
        <td>{{res.droit_annuel}}</td>
        <td>{{res.droit_reception}}</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block "nom" %} Enregistrement des droits {% endblock %}

{% block "formulaire" %} 
    <form method="POST">
        {% csrf_token %}
        {{form2.as_p}}
        <input type="submit" value="Valider" class="submit">
    </form>
{% endblock %}
{% block "information" %}--> Effectif de membres qui sont payés les droits : {{b}} {% endblock %}
{% block "test1" %}
    <p> ---> Membres qui ont payé droit d'adhension : {{isa1}} </p>
    <p> ---> Membres qui ont payé droit annuel : {{isa2}} </p>
    <p> ---> Membres qui ont payé droit de réception : {{isa3}} </p>
{% endblock %}
{% block "test" %}--> Somme des Droits : {{somme}} Ar{% endblock %}